<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content = "text/html; charset=windows-1252">
</head>
<body>
    <h2> <b> Hospital App User Information </b> </h2>
    <br>
    <form action = "{{url_for('addrec') }}" method = "POST">
        <label> Name: </label><br>
        <INPUT TYPE = "text" Name = "name" VALUE = '' SIZE = n MAXLENGTH = n> <br>
        <label> Age: </label><br>
        <INPUT TYPE = "int" Name = "age" VALUE = '' SIZE = n MAXLENGTH = n> <br>
        <label> Phone Number: </label><br>
        <INPUT TYPE = "string" Name = "phone number" VALUE = '' SIZE = n MAXLENGTH = n> <br>

        Has COVID:
            <INPUT TYPE = "checkbox" Name = "Has COVID" >
        <br>

        <label> Security Role Level: </label><br>
        <INPUT TYPE = "string" Name = "security role level" VALUE = '' SIZE = n MAXLENGTH = n> <br>

        <label> Login Password: </label><br>
        <INPUT TYPE = "password" Name = "login password" VALUE = '' SIZE = n MAXLENGTH = n> <br>

        <br>
        <INPUT TYPE = "submit" VALUE = "Submit">

    </form>
</body>
</html>